.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 210vh;
    z-index: 2;
  }

.button {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: rgb(73, 66, 66, 0.5);
    transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button:active {
  transform: scale(0.9);
}
