/* NebulaBackground.css */
.nebula-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: nebulaAnimation 10s infinite;
    background: radial-gradient(circle, #8e44ad, #6410eb);
  }
  
  @keyframes nebulaAnimation {
    0% {
      opacity: 0.7; /* Inicialmente menos opacidad para un inicio más suave */
    }
    25% {
      opacity: 1; /* Aumento de la opacidad */
    }
    50% {
      opacity: 0.7; /* Reducción de la opacidad */
    }
    75% {
      opacity: 1; /* Aumento de la opacidad */
    }
    100% {
      opacity: 0.7; /* Reducción de la opacidad */
    }
}
  