/* SubjectIcons.css */

.array-subjects-container {
    display: flex;
    /*align-items: center;*/
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(87, 23, 148);
    z-index: 2;
    transition: height 0.5s ease-in-out;
  }

[class^="subject-container-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    width: 30%;
    /*height: 40vh;*/
    /*background-color: rgb(250, 245, 245);*/
    padding: 5px;
}



[class^="icon-"] {
  transition: transform 0.2s ease-in-out;
}

[class^="icon-"]:hover {
  transform: scale(1.2);
  cursor: pointer;
}

[class^="icon-"]:active {
  transform: scale(0.9);
}

[class^= "description-"] {
  display: none;
  opacity: 0;
  transition: display 0s, opacity 0.5s ease-in-out;
  bottom: 0;
}

.description-show {
  display: block;
  opacity: 1;
}