.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    z-index: 1;
}

.text-content{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  rgba(192, 26, 26, 0.5);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.text-content.fade-in {
    opacity: 1;
}

.text-content.fade-out {
    opacity: 0;
}