/*WhatsAppButton*/

.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

.immage {
  transition: transform 0.2s ease-in-out;
}

.immage:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.immage:active {
  transform: scale(0.9);
}

  